
 <div class="container-fluid">
    <div class="row">
  <div class="card mx-auto my-3" style="width: 20rem;" *ngFor="let art of  ArtsData">
    <img class="card-img-top" src="{{art.multimedia[0].url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center mb-3"> Published {{art.byline}} on {{art.created_date}}</h5>
        <h3 class="text-center" style="color:rgb(216, 201, 201); font-style: italic"> {{art.title}}</h3>
    </div>
    <div class="heading text-center mb-3">
    </div> 