.app-topbar {
    display: flex;
    justify-content: center;
    
        width: 4%;
        height: 50px;

}
img {

    width: 30%;
    }
.brand-logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}